@import 'variables';
.contact {

  background: white !important;
}
.contact-buttons {
  div {
    display: inline-block;
  }
}
.btn-rounded {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $header_color;
  color: $nav_links;

  &:hover {
    background: $header_color !important;
    color: white;
    border: 1px solid $header_color;
  }

  span {
    padding: 6px 5px 5px 5px;

  }

  p {
    padding-top:20px;
  }
}

// Footer
.footer {
  .btn {
    margin: 2px;
    color: white;
    border: 1px solid $header_color;
    background: $header_color;
  }
}
